.registro{

    display:grid;
    justify-content:center;
    margin: 5px;
    padding: 5px;

    
    
}
.nombre{
padding: 5px;
}
.password{
    display:block;
    padding: 5px;
    margin-top: 5px;
}
.button{
    
    margin-top: 5px;   
    border-radius: 5px;
    background-color: lightgray;
    
    
}
.button:hover{
    background-color:whitesmoke;
}
